.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 0.5s ease infinite;
}

/* Glowy text */
.nav-link.active {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 4s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* Responsive visualizer */
/* #visualizer {
  @media only screen and (max-width: 575px) {
    max-height: 50%;
    border-radius: ;
  }
} */

/* gradient background */

.bg {
  background: linear-gradient(
    to bottom right,
    #1f2327,
    #322946,
    #410e3a,
    #4f076b,
    #160464,
    #1b3850,
    #431f68,
    #4f2257
  );
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 72s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#play-btn-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}

#pausePlayButton {
  filter: invert(98%) sepia(1%) saturate(200%) hue-rotate(87deg)
    brightness(114%) contrast(100%);
}
