body {
  font-family: "M PLUS Code Latin", sans-serif;
}

.nav-link {
  color: white;
}

/* Glowy text */
.nav-link:hover {
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 4s linear infinite;
}

.portfolioActivePiece {
  border-color: yellow;
  border-width: medium;
  animation: myanim 4s linear infinite;
}

.bigtext a {
  text-decoration: auto;
  color: black !important;
  font-size: large;
}

#topnavlinks {
  background-color: rgba(0, 0, 0, 0.698);
  color: white;
}

#tagline {
  margin-top: 10rem;
}

#contactModal {
  color: black;
}

.col {
  overflow: visible;
}

.card {
  color: black;
  transition: box-shadow 0.3s ease-in-out;
  overflow: visible;
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  opacity: 0;
  transition: transform 3s linear, opacity 0.5s;
}

.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  display: block;
}

.card-link img {
  height: 300px;
  width: auto;
  object-fit: cover; /* Cover the container without distorting the image */
  object-position: center; /* Center the focus of the image */
}

a img {
  object-fit: cover; /* Cover the container without distorting the image */
  object-position: center; /* Center the focus of the image */
}

.card-link:hover {
  text-decoration: none; /* Remove underline on hover */
  color: inherit; /* Inherit text color on hover */
}

@keyframes myanim {
  20% {
    border-color: green;
  }
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* Responsive visualizer */
#visualizer {
  @media only screen and (max-width: 575px) {
    max-height: 50%;
  }
}

html,
body {
  height: 100%; /* Ensure full coverage of the viewport */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbar due to slight overflow */
}

.bg {
  z-index: -1; /* Keep it behind all other content */
  background: linear-gradient(
    120deg,
    /* Direction of the gradient */ #1f2327,
    #322946,
    #410e3a,
    #4f076b,
    #160464
  );
  background-size: 300% 300%; /* Reduce size for performance improvement */
  animation: gradient 15s linear infinite; /* Adjusted for a continuous smooth effect */
}

@keyframes gradient {
  0%,
  100% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
}

:root {
  --angle: 0deg;
}

#play-btn-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.whiteSVG {
  filter: invert(98%) sepia(1%) saturate(200%) hue-rotate(87deg)
    brightness(114%) contrast(100%);
}

footer p {
  margin-bottom: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

.card-top {
  width: 100%; /* Adjusts the width of the container to full width of its parent */
  display: flex; /* Uses Flexbox for alignment */
  justify-content: center; /* Centers the image horizontally */
  align-items: center; /* Centers the image vertically */
  overflow: hidden; /* Prevents any overflow from the container */
  background-color: black;
}

.profile-img {
  width: auto;
  border-radius: 50% !important;
  aspect-ratio: 1 / 1;
  object-fit: cover; /* Cover the container without distorting the image */
  object-position: center; /* Center the focus of the image */
  max-height: 500px;
}
@media (max-width: 550px) {
  .profile-img {
    width: auto;
  }
}

#tag-cloud span {
  transition: font-size 0.3s ease-in-out; /* Smooth transition for font-size change */
}

#tag-cloud span:hover {
  font-size: 120%;
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 4s linear infinite;
}
